<section class="answers">
    <div class="container">
        <div class="answers-result-text">
            <div class="answers-result-text-title">Результат прохождения теста <img alt="Стрелочка" src="images/small-arrow-gray.png"></div>
            <div class="answers-result-text-name" id="answers-title">ест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <div class="answers-title"><span>Правильные ответы</span> к тесту</div>
        <div class="answers-user" id="answers-user">Тест выполнил <span>Роман Чернов, roman@itlogia.ru</span></div>
        <div class="answers-list" id="answers-list">

        </div>
        <div class="back-action">
            <a href="#/answers" id="back">Обратно к моему результату теста <img alt="Стрелочка" src="images/small-arrow.png"></a>
        </div>
    </div>
</section>