
<section class="index">
    <div class="container">
        <div class="index-content">
            <h1 class="big-title">Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz!</span></h1>
            <div class="index-discription">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </div>
            <div class="index-button">
                <a href="#/signup" class="button">Начать тест</a>
            </div>
        </div>
        <div class="index-image">
            <img src="/static/images/main-image.png" alt="главная картинка">
        </div>
    </div>
</section>
